*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

div > img {
    width: 50px;
    height: 50px;
}
.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: #4CAF50;
    padding: 10px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
