
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f0fdf4;
    color: #14532d;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: white;
    border-right: 2px solid #22c55e;
    padding: 20px;
}


.side-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.logo {
    height: 45px;
}

.side-logo span {
    font-size: 22px;
    font-weight: bold;
    color: #16a34a;
}

.side-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px 0px;               
    border-bottom: 2px solid #22c55e;   
    width: 100%;                         
    margin-bottom: 20px;                 
}

.side-links {
    list-style: none;
}

.side-links li {
    margin-bottom: 12px;
}

.side-links a {
    text-decoration: none;
    color: #14532d;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
}

.side-links a:hover {
    background: #dcfce7;
    color: #16a34a;
}


.content {
    margin-left: 240px;
    padding: 40px 40px 0 40px; 
}

main > div:first-child {
    background: white;
    border-left: 8px solid #16a34a;
    border-radius: 14px;
    padding: 25px 30px;   
    margin: 40px 0 30px 0; 
    box-shadow: 0 6px 14px rgba(0,0,0,0.05);
}

main > div:first-child span {
    display: block;
}

main h4 {
    color: #16a34a;
    margin-bottom: 6px;
    font-size: 24px;
}

main p {
    color: #166534;
}


.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}
.info span {
    background: white;
    border: 2px solid #22c55e;
    border-radius: 14px;
    padding: 25px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 6px 14px rgba(0,0,0,0.05);
}

.info span:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 22px rgba(34,197,94,0.2);
}

.info h2 {
    font-size: 34px;
    color: #16a34a;
    margin-bottom: 6px;
}

.info p {
    color: #166534;
    font-weight: 500;
}