*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

div > img {
    width: 50px;
    height: 50px;
}
.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: #4CAF50;
    padding: 10px;
}

.flex {
    display: flex;
    background-color: #f0f7f2dc;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;   
    justify-content: center;
    width: 100%;
} 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7fa;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.body {
    font-size: 16px;
    color: #333;
}

.Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7fa;
}

.imgg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}