*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

div > img {
    width: 50px;
    height: 50px;
}
.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: #4CAF50;
    padding: 10px;
}

.flex {
    display: flex;
    background-color: #f0f7f2dc;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;   
    justify-content: center;
    width: 100%;
} 

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
 

.signal {
    position: absolute;
    top: 79px;
    background-color: #a8f8bc;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    align-content: center;
    font-size: 20px;
    color: #333;
    border: #4CAF50 2px solid;
    text-align: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    justify-content: center;
    height: 150vh;
    background-color: #e0f7fa;
}
.web-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    /* border: #4CAF50 2px solid; */
}
.web-info > span {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.web-additional-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.footer-content {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 200px;
    font-size: 14px;}